body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }


}


/* Custom styles for the Google Translate widget */
.goog-te-gadget-simple {
    font-size: 0.9em; /* Smaller font size might reduce the widget size */
    display: inline-block; /* Ensures the widget takes only necessary space */
    width: 80px; /* Or set a specific width if necessary */
    height: 25px; /* Or set a specific height if necessary */
}
.goog-te-gadget .goog-te-combo {
    border: 3px solid #1e2222c4;
    margin: 4px 0;
    border-radius: 10px;
}

.goog-te-gadget-icon {
    display: none; /* This can hide the dropdown icon, making the button simpler */
}

.goog-te-gadget img {
    display: none;
}

/* Specificity increased with .markdown-rendered to ensure override */
.markdown-rendered pre {
    background-color: #242020; /* Black background for code blocks */
    color: #f5f5f5;
    border-left: 4px solid #ff6347; /* Reddish color for the left border */
    padding: 1em;
    overflow: auto;
    font-family: var(--font-monospace); /* Using the CSS variable for monospace font */
    white-space: pre-wrap;
    word-wrap: break-word;
    border: none; /* Override any existing borders */
}

.markdown-rendered pre code {
    /* Styles for inline code */
    background-color: #242020; /* Black background for inline code */
    color: #f5f5f5; /* Reddish color for text */
    padding: 0.2em 0.4em;
    border: none; /* Remove border */
    border-radius: 2px; /* Keep rounded corners if desired */
    font-family: var(--font-monospace); /* Using the CSS variable for monospace font */
    font-size: var(--code-size); /* Using the CSS variable for code size */
}

.markdown-rendered code {
    /* Styles for inline code */
    background-color: #655b5b; /* Black background for inline code */
    color: #f5f5f5; /* Reddish color for text */
    padding: 0.2em 0.4em;
    border: none; /* Remove border */
    border-radius: 2px; /* Keep rounded corners if desired */
    font-family: var(--font-monospace); /* Using the CSS variable for monospace font */
    font-size: var(--code-size); /* Using the CSS variable for code size */
}






/* Prevent markdown link line breaks */
.markdown-rendered a {
    display: inline-block; /* Ensures the links behave more predictably */
    white-space: normal; /* Allows links to wrap normally */
}

/* Adjust image width and maintain aspect ratio */
.markdown-rendered img {
    float: none !important; /* Ensures the image does not float */
    display: block; /* Displays images as block-level elements */
    margin-left: auto; /* Centers the image horizontally */
    margin-right: auto;
    width: auto; /* Allows the image to maintain its original width unless it exceeds the maximum width of the container */
    min-width: 50%; /* Sets a minimum width for the image; adjust as needed */
    max-width: 100%; /* Ensures the image is not wider than its container */
    height: auto; /* Height is automatic to maintain the aspect ratio */
}

/* Override and reset any float styling specifically for images */
.markdown-rendered p img {
    float: none !important;
}



/* Clearing floats only for elements that require it, in case they are added elsewhere */
.markdown-rendered .clear-float::after {
    content: "";
    display: table;
    clear: both;
}

blockquote:before {
    content: none; /* No content before blockquotes */
}



.markdown-rendered hr {
    margin-top: 20px;  /* Adds 6 pixels of space above the <hr> */
    margin-bottom: 20px;  /* Adds 6 pixels of space below the <hr> */
}



/* Githgub and Linkedin Badge image style custom */
/* GitHub 이미지를 위한 스타일 left 정렬 커스텀*/
a.external-link img[alt="GitHub|left"],
a.external-link img[alt="LinkedIn|left"] {
    width: 130px !important; /* Set larger width with !important */
    height: auto !important; /* Maintain aspect ratio with !important */
}

